@use "../utilities/utilities" as *;

.homepage {
	background-color: #cfdaf1;
	background-image: url(/src/assets/homepage/nn.svg);
	background-repeat: no-repeat;
  background-size: px-rem(150) ;
  background-position: right 0;
}
