@use "../utilities/utilities" as *;




.sign-in{
    margin: auto;
    max-width: px-rem(700);
    padding: px-rem(16);
    h1, p{
        text-align: center;
    }
    button{
        width:100%;
      cursor: pointer;
        padding: 10px;
        border-radius: px-rem(50);
        background-color: $primColor;
      color: $backgroundColor;
      }
      &:hover{
        opacity:0.9;
      }      
  }

  input[type=text], input[type=password] {
    @include formInput()
}